@model EliteATMWebApp.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">User Profile</h1>

<div class="container" style="max-width: 500px;">
    <h4>Details</h4>
    <hr />
    <dl class="container border border-dark rounded" style="padding: 10px 20px;">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        
    </dl>
    <a asp-action="Edit" class="badge bg-info text-decoration-none" asp-route-id="@UserTracker.User?.Id">Edit User Info</a> 
    <a asp-action="Index" class="badge bg-info text-decoration-none" style="@(UserTracker.User?.Id == 1 ? "visibility: visible;" : "display: none;")">Back to List</a>
</div>

