@model EliteATMWebApp.Models.Account

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">My Account</h1>

<hr />
<div class="container" style="display: flex; justify-content:center; height: fit-content; padding-top: 30px;">
    <div class="container border border-dark rounded" style="padding: 10px 20px; max-width: 500px;">
            <div class="mb-3 row">
                <label for="FirstName" class="col-sm-2 col-form-label"><strong>@Html.DisplayNameFor(m => m.Type)</strong></label>
                <div class="col-sm-10">
                    <input class="form-control" value="@Html.DisplayFor(m => m.Type)" readonly/>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="LastName" class="col-sm-2 col-form-label"><strong>@Html.DisplayNameFor(m => m.Balance)</strong></label>
                <div class="col-sm-10">
                    <input class="form-control" value="$ @Html.DisplayFor(m => m.Balance)" readonly/>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="FirstName" class="col-sm-2 col-form-label"><strong>@Html.DisplayNameFor(m => m.Currency)</strong></label>
                <div class="col-sm-10">
                    <input class="form-control" value="@Html.DisplayFor(m => m.Currency)" readonly/>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="LastName" class="col-sm-2 col-form-label"><strong>@Html.DisplayNameFor(m => m.User)</strong></label>
                <div class="col-sm-10">
                    <input class="form-control" value="@Html.DisplayFor(m => m.UserId)" readonly/>
                </div>
            </div>
            <div class="accountButtonWrap">
                <div class="form-group accountBtns">
                    <input type="button" value="Deposit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DepositModal"/>
                </div>
                <div class="form-group accountBtns">
                    <input type="button" value="Withdraw" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#WithdrawModal"/>
                </div>
            </div>
                <div class="container" style="max-width: 500px; display: flex; justify-content: center;">
                    <a asp-action="Edit" class="badge bg-info text-decoration-none" asp-route-id="@Model?.AccountId">Edit Account Info</a> 
                     <a asp-action="Index" class="badge bg-info text-decoration-none" style="@(UserTracker.User?.Id == 1 ? "visibility: visible;" : "display: none;") margin-left: 5px;">Back to List</a>
              </div>
    </div>
</div>

<!-- Deposit Modal -->
<div class="modal fade" id="DepositModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Make a Deposit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3 row">
                <label for="DepositLimit" class="col-sm-2 col-form-label"><strong>Limit</strong></label>
                <label for="LimitValue" class="col-sm-2 col-form-label"><strong>$100,000.00</strong></label>
            </div>
          <div class="mb-3 row">
                <label for="Currency" class="col-sm-2 col-form-label"><strong>Currency</strong></label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example">
                      <option selected disabled>Choose a currency</option>
                      <option value="USD">USD</option>
                      <option value="JMD">JMD</option>
                      <option value="CAD">CAD</option>
                    </select>
                </div>
            </div>
        <div class="mb-3 row">
                <label for="Amount" class="col-sm-2 col-form-label"><strong>Amount</strong></label>
                <div class="col-sm-10">
                    <div class="input-group mb-3">
                      <span class="input-group-text">$</span>
                      <input type="text" class="form-control" placeholder="0.00" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm Deposit</button>
      </div>
    </div>
  </div>
</div>

<!-- WithDrawl Modal -->
<div class="modal fade" id="WithdrawModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Make a Withdrawl</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3 row">
                <label for="WithdrawLimit" class="col-sm-2 col-form-label"><strong>Limit</strong></label>
                <label for="LimitValue" class="col-sm-2 col-form-label"><strong>$100,000.00</strong></label>
            </div>
        <div class="mb-3 row">
                <label for="Amount" class="col-sm-2 col-form-label"><strong>Amount</strong></label>
                <div class="col-sm-10">
                    <div class="input-group mb-3">
                      <span class="input-group-text">$</span>
                      <input type="text" class="form-control" placeholder="0.00" aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Confirm Withdrawl</button>
      </div>
    </div>
  </div>
</div>